# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*~

# Distribution / packaging
venv/
*.egg-info/
*.egg
*.log

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Editor temporary files
.*.sw[po]

# Vagrant, and cdh stuff in vagrant
.vagrant
/derby.log
/metastore_db
