# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*~
/jvm/target

# Distribution / packaging
venv/
build/
*.egg-info/
*.egg
*.log


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Editor temporary files
.*.sw[po]
/jvm/.idea
/jvm/mjolnir.iml

# Vagrant, and cdh stuff in vagrant
.vagrant
/derby.log
/metastore_db
